<div style="text-align: center; justify-content: center; align-items: center; padding-top: 30vh;">
<h1>Download Successful!</h1>
<p>Downloaded: {{ title }}</p>
<p>Location: {{ location }}</p>
<a href="{% url 'home' %}"><button class="btn">Go Back</button></a>
</div>
<style>
.btn{
    background-color: rgb(0, 13, 255); border-radius: 2rem; padding: 10px 20px; margin: 10px 10px; color: white; font-weight: bold; border: none; outline: none; cursor: pointer;
}
.btn:hover{
    background-color: rgba(0, 13, 255, 0.55);
           transform: scale(1.12);
    transition-duration: 2s;
}
@media (orientation: portrait) {
    body {
        font-size: 50px; /* Adjust the value as needed */
    }
    button{
        font-size: 60px;
       
    }
}

    @media (orientation: landscape) {
    body {
        font-size: 20px; /* Adjust the value as needed */
    }
    button{
        font-size: 15px;
       
    }
}
</style>